<!DOCTYPE html>
<html>
	<head>
		<title>service</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<h1>Welcome to the Service Page</h1>
		<p>This is some content for the Service page.</p>
	</body>
</html>
